@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background: #282a33;
  color: #fff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fff);
}

.flex {
  display: flex;
  width: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.column-gap-2rem {
  column-gap: 2rem;
}
.column-gap-3rem {
  column-gap: 3rem;
}
.row-gap-1rem {
  row-gap: 1rem;
}
.row-gap-2rem {
  row-gap: 2rem;
}
.row-gap-3rem {
  row-gap: 3rem;
}
.row-gap-5rem {
  row-gap: 5em;
}
.row-gap-10rem {
  row-gap: 10em;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.bg-shape {
  width: 520px;
  height: 520px;
  border-radius: 100%;
  z-index: -1;
}
.backdrop-filter {
  min-height: 100vh;
  backdrop-filter: blur(100px);
}

.opacity-50 {
  opacity: 0.5;
}
.opacity-70 {
  opacity: 0.7;
}

.bg-blur {
  filter: blur(100px);
  -webkit-filter: blur(100px);
}
.bg-blue {
  background-color: #1e3d61;
}
.bg-yellow {
  background-color: rgba(122, 104, 38, 0.5);
}
.bg-green {
  background-color: rgba(30, 218, 0, 0.4);
}
.bg-darkgray {
  background-color: #393c46;
}

.box-shadow {
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.4);
}

.border-radius-1rem {
  border-radius: 1rem;
}

.max-width-50rem {
  max-width: 50rem;
}

.final-page {
  background: rgb(40, 42, 49);
  background: linear-gradient(
    0deg,
    rgba(40, 42, 49, 1) 0%,
    rgba(40, 42, 49, 0) 100%
  );
}
