@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fff);
}

.flex {
  display: flex;
  width: 100%;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.column-gap-3rem {
  column-gap: 3rem;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.bg-shape {
  width: 520px;
  height: 520px;
  border-radius: 100%;
  z-index: -1;
}

.opacity-50 {
  opacity: .5;
}
.opacity-70 {
  opacity: .7;
}

.bg-blur {
  filter: blur(100px);
  -webkit-filter: blur(100px);
}
.bg-blue {
  background-color: #1E3D61;
}
.bg-yellow {
  background-color: rgba(122, 104, 38, 0.5);
}
.bg-green {
  background-color: rgba(30, 218, 0, 0.5);
}
.bg-darkgray {
  background-color: #393C46;
}

.box-shadow {
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.4);
}

.border-radius-1rem {
  border-radius: 1rem;
}

.final-page {
  background: rgb(40,42,49);
  background: linear-gradient(0deg, rgba(40,42,49,1) 0%, rgba(40,42,49,0) 100%);
}
