nav.header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 10rem;
}

ul.list-itens {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

ul.list-itens div {
  display: inherit;
  justify-content: flex-start;
  align-items: inherit;
}

div.section-1 {
  column-gap: 15rem;
}

div.itens-header,
div.subsection-2 {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  column-gap: 5rem;
}

ul.list-itens li {
  list-style-type: none;
}

ul.list-itens li a {
  color: #e0e0e0;
}

img.logo {
  padding: 0;
  width: 7rem;
}
